:root{
    --main-color-1: #f2efed;
    --main-color-2: #252525;
    --accent-color-1: #fefefe; /* Basically serves as --text-color-1 too */
    --accent-color-2: #656565;
    --text-color-2: #d3d3d3; 
}

@font-face {
    font-family: 'Oswald';
    src: url('stash/common-stuff/Oswald.ttf');
}

@font-face {
    font-family: 'Teko';
    src: url('stash/common-stuff/Teko.ttf');
}

* {
    box-sizing: border-box;
}

/* Chromium, Edge, Safari */
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: var(--main-color-2);
    transition: background 0.2s ease;
    cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba(25, 25, 25, 0.65);
}

*::-webkit-scrollbar-corner {
    background: var(--main-color-2);
}

html {
    overflow: hidden;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    background: var(--main-color-1);
    color: var(--main-color-2);
    font-family: 'Teko';
}

navigation-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

portfolio-app {
    display: block;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

portfolio-footer {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
}

.lg {
    display: block;
}

.sm {
    display: none;
    height: 100%;
    width: 100%;
}

#view {
    width: 100vw;
    min-height: 90vh;
    overflow-y: auto;
}

h1 {
    font-size: 10vh;
    line-height: 10vh;
    margin-bottom: 0;
}

p {
    font-size: 2.5vh;
    line-height: 2.5vh;
    text-align: justify;
}

@media (max-width: 1024px) {
    .lg {
        display: none;
    }

    .sm {
        display: block;
    }

    h1 {
        font-size: 7vh;
        line-height: 7vh;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 6vh;
        line-height: 6vh;
    }

    p {
        font-size: 3vh;
        line-height: 3vh;
    }
}