::-webkit-scrollbar{
    display: none;
}

@font-face {
    font-family: Teko-normal;
    src: url(../fonts/Teko/Teko-Medium.ttf);
}

@font-face {
    font-family: Teko-thin;
    src: url(../fonts/Teko/Teko-Light.ttf);
}

@font-face {
    font-family: RobotoMono;
    src: url(../fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf);
}

body{
    font-family: "Teko-thin";
    letter-spacing: 0.5vw;
    background-color: #151515;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    overflow-x: hidden;
}

.content{
    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-left: 12vw;
    border-left: 2px solid rgb(9, 209, 199);
    z-index: -1;
}

.content::after{
    content: "";
    display: inline-block;
    background-color: rgb(9, 209, 199);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    margin-left: -0.65rem;
}

.page{
    height: 110vh;
    font-weight: 1;
}

.page::before{
    content: "";
    display: inline-block;
    background-color: rgb(9, 209, 199);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    margin-left: -0.65rem;
}

.page-Content{
    padding: 5rem 10vw 5rem 8vw;
}

.page-Content h1{
    font-size: 9vw;
    margin-left: 1rem;
}

.page-Content p{
    font-size: 4vw;
    margin-left: 1rem;
}
