@font-face {
    font-family: 'Azonix';
    src: url("../fonts/Azonix/Azonix.otf");
}

:root{
    --primary-text: #fff;
    --secondary-text: #959595;
    --primay-color: #252525;
    --secondary-color: #454545;
    --bonus-color: #FF5B3B;
}

body{
    background-color: var(--primay-color);
    font-family: 'Azonix';
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

.navigation{
    display: flex;
    justify-content: flex-end;
    padding-right: 10rem;
    background-color: transparent;
    height: 15vh;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    overflow: hidden;
}

.navigation-ul{
    list-style: none;
    margin-top: 15vh;
}

.navigation-item{
    display: inline;
    margin: 3vh;
    letter-spacing: 0.5rem;
    font-size: 2vh;
}

.navigation-link{
    text-decoration: none;
    color: var(--primary-text);
    transition: color 0.25s ease-in-out;
}

.navigation-link:hover{
    text-decoration: line-through;
    color: var(--bonus-color);
}

.navigation-link.active{
    text-decoration: line-through;
    color: var(--secondary-text);
}

.home{
    margin-top: 20vh;
    padding-left: 5vh;
    padding-right: 5vh;
    height: 70vh;
    color: var(--primary-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-content{
    display: flex;
    flex-direction: column;
}

.home-txt-1{
    display: flex;
    justify-content: flex-start;
    padding-left: 5vw;
    font-size: 4vw;
}

@keyframes home-1{
    from{padding-left: 5vw;}
    to{padding-left: 25vw;}
}

.home-txt-2{
    display: flex;
    justify-content: flex-end;
    padding-right: 15vw;
    font-size: 2vw;
}

@keyframes home-2{
    from{padding-right: 5vw;}
    to{padding-right: 50vw;}
}

.home-txt-3{
    display: flex;
    justify-content: center;
    padding-left: 0vw;
    font-size: 3vw;
}

@keyframes home-3{
    from{padding-left: -30vw;}
    to{padding-left: 25vw;}
}

.home-txt-4{
    display: flex;
    justify-content: flex-end;
    padding-right: 5vw;
    font-size: 2vw;
}

@keyframes home-4{
    from{padding-right: 5vw;}
    to{padding-right: 60vw;}
}

.content-break{
    height: 45vh;
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    background-size: 90vw;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-right: 30vw;
}

.more{
    margin-top: 10vh;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: var(--primary-text);
}

.more h1{
    margin-top: 5vh;
    margin-left: 5vw;
    letter-spacing: 0.3rem;
}

.section{
    display: flex;
    color: var(--secondary-text);
}

.section-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 10vw;
    row-gap: 3vh;
}

.highlight{
    color: var(--bonus-color);
}