.project-node__container {
    padding: 3px 10px 0px 10px;
    background: transparent;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

.project-node__container:hover {
    opacity: 0.45;
    color: var(--accent-color-1);
    background: var(--main-color-2);
}

.folder {
    color: var(--accent-color-2);
}

.selected {
    color: var(--accent-color-1);
    background: var(--main-color-2);
}