.thankyou-1 {
    display: flex;
    justify-content: center;
    color: var(--main-color-2);
    margin-top: 30vh;
    font-family: 'Oswald';
}

.thankyou-2 {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.thankyou-2 h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 5vh;
    margin: 0;
}

.thankyou-2 a {
    text-decoration: none;
    color: var(--main-color-2);
    font-size: 3vh;
    margin: 2vw;
    padding: 3px 10px;
    box-shadow: inset 0 0 0 0 var(--main-color-2);
    transition: 0.5s ease-in-out;
}

.thankyou-2 a:hover {
    color: var(--accent-color-1);
    box-shadow: inset 250px 0 0 0 var(--main-color-2);
}