.section__container {
    width: 100vw;
    height: 8vh;
    padding-top: 10vh;
    background: #F2EFED;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navig {
    background: #F2EFED;
}

.section {
    height: 60vh;
    text-align: justify;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section__1 {
    width: 30vw;
    justify-content: center;
}

.section__1 h2 {
    font-size: 10vh;
    line-height: 10vh;
    margin: 10px 0px;
    text-align: left;
}

.section__1 p {
    font-size: 2.5vh;
    line-height: 2.5vh;
    margin: 10px 0px;
    color: #252525;
}

.section__focus {
    font-size: 4vh;
    font-weight: 600;
}

.section__connect {
    width: 60vw;
    height: 90vh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #252525;
    color: white;
}

.section__2 {
    width: 25vw;
}

.section__2 h2 {
    font-size: 6vh;
    line-height: 6vh;
    text-align: left;
    margin: 10px 0px;
    border-bottom: 2px solid white;
}

.section__2 p {
    font-size: 2.5vh;
    line-height: 2.5vh;
    margin: 10px 0px;
    color: #d3d3d3;
}

.section__3 {
    width: 30vw;
}

.section__3 h2 {
    font-size: 6vh;
    line-height: 6vh;
    text-align: left;
    margin: 10px 0px;
    border-bottom: 2px solid white;
}

.section__3 p {
    font-size: 2.5vh;
    line-height: 2.5vh;
    margin: 10px 0px;
    color: #d3d3d3;
}

@media (max-width: 1150px) {
    .section__2 h2 {
        font-size: 5vh;
        line-height: 5vh;
    }

    .section__2 p {
        font-size: 2vh;
        line-height: 2vh;
    }

    .section__3 h2 {
        font-size: 5vh;
        line-height: 5vh;
    }

    .section__3 p {
        font-size: 2vh;
        line-height: 2vh;
    }
}

@media (max-width: 1000px) {
    .lg {
        display: none;
    }

    .sm {
        display: block;
        overflow: hidden;
        width: 100vw;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #F2EFED;
    }

    .navig {
        position: fixed;
    }

    .navig .navig__item {
        width: 20vw;
    }

    .page {
        width: 85vw;
        height: 80%;
        padding-left: 15vw;
        position: absolute;
        top: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .first__page {
        z-index: 3;
    }

    .second__page {
        z-index: 2;
        opacity: 0;
    }

    .third__page {
        z-index: 1;
        opacity: 0;
    }

    .page__title__container{
        position: absolute;
        top: 10%;
        left: 0;
        width: 15vw;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page__title {
        margin: auto;
        width: 100%;
        height: 70%;
        border-right: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page__title .page__title__text {
        letter-spacing: 2vh;
        font-size: 3vh;
        font-weight: 600;
        text-transform: uppercase;
        transform: rotateZ(-90deg);
        color: #252525;
    }

    .page__content {
        width: 85vw;
        height: 70%;
        margin: 5vw;
        padding: 2vw;
        background-color: #252525;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .page__content .content__title {
        margin: 0px 7px;
        font-size: 6vh;
        line-height: 6vh;
        border-bottom: 2px solid white;
    }

    .page__content p {
        font-size: 3vh;
        line-height: 3vh;
        text-align: justify;
        margin: 7px;
        color: #d3d3d3;
    }

    .indicator {
        width: 25px;
        opacity: 0.75;
        position: absolute;
    }

    .indicator__up {
        top: 7%;
        transform: rotateZ(180deg);
    }

    .indicator__down {
        bottom: 5%;
    }

    .footer {
        position: fixed;
        bottom: 0;
    }

    .anim__in {
        animation: anim__in 0.35s linear forwards;
    }

    .anim__out {
        animation: anim__out 0.35s linear forwards;
    }

    @keyframes anim__in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes anim__out {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}

@media (max-width: 600px) {
    .navig .navig__item {
        width: 30vw;
        font-size: 2vh;
    }

    .page__title .page__title__text {
        letter-spacing: 2vh;
        font-size: 2.5vh;
        font-weight: 600;
    }

    .page__content .content__title {
        font-size: 5vh;
        line-height: 5vh;
    }

    .page__content p {
        font-size: 2.5vh;
        line-height: 2.5vh;
    }
}