@font-face {
    font-family: 'Oswald';
    src: url('../font/Oswald.ttf');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background: #F2EFED;
}

.thankyou-1 {
    display: flex;
    justify-content: center;
    color: #252525;
    margin-top: 30vh;
    font-family: 'Oswald';
}

.thankyou-2 {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.thankyou-2 h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 5vh;
    margin: 0;
}

.thankyou-2 a {
    text-decoration: none;
    color: #252525;
    font-size: 3vh;
    margin: 2vw;
    padding: 3px 10px;
    box-shadow: inset 0 0 0 0 #252525;
    transition: 0.5s ease-in-out;
}

.thankyou-2 a:hover {
    color: white;
    box-shadow: inset 250px 0 0 0 #252525;
}